{% extends "base.html" %}

{% block content %}

<div class="postcard-header">
    <div class="postcard-title">
        <h1 id="post{{ post.id }}">{{ post.title }}</h1>
    </div>

    <div class="postcard-intro">
        By
        <a href="{{ url_for('main.user', username=post.author.username) }}">
            {{ post.author.full_name }}
        </a>
        &middot;
        {{ post.timestamp|humanize }}
    </div>

    {% if post.language and post.language != g.locale %}
    <br><br>
    <span id="translation{{ post.id }}">
        <a href="javascript:translate(
                    '#post{{ post.id }}',
                    '#translation{{ post.id }}',
                    '{{ post.language }}',
                    '{{ g.locale }}');">{{ _('Translate') }}</a>
    </span>
    {% endif %}
</div>

{{ post.body|safe }}

{% endblock %}